$fonts: "Lato", sans-serif;

/* 
// -------------------------------
// Layers
// ------------------------------- 
*/
.layer {
  padding: 1rem 0.5rem;
  border-top: 0.0625rem solid #E8E8E8;
  display: flex;
}

.layer--clear {
  border-top: 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.layer__title {
  font-size: 1rem;
  flex: 1;
  padding-top: 0;
  padding-right: 1rem;
} 

.layer__title--uppercase {
  text-transform: uppercase;
} 

.layer__body {
  font-size: 1rem;
  line-height: 1.1875rem;
  flex: 1.5;
  color: #45474D;
}

.layer__body--narrow {
  flex: 1;
}

.layer__body_mgbottom {
  margin-bottom: 1rem;
}

/* 
// -------------------------------
// Comparison
// ------------------------------- 
*/
.comparison__title-wrapper {
  display: flex;
  align-items: baseline;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #DCE6EB;
}

.comparison__title {
  font-size: 1.25rem;
  padding-right: 1rem;
}

.comparison__title--alt {
  font-size: 1.0625rem;
  padding-top: 1.25rem;
}

.comparison__title--large {
  font-size: 1.5625rem;
}

/* 
// -------------------------------
// Review Filter
// ------------------------------- 
*/
.filter {
  background-color: #f1f1f1;
  .default-icon--padding-left {
    padding-left: calc(1rem / 2);
  }
}

.filter__header {
  padding-top: 0.75rem;
  text-transform: uppercase;
  color: #9B9B9B;
}

.filter__items {
  display: flex;
  padding: 0.75rem 0;
  color: #333333;
}

// add a different class if needed
.button--pager {
  margin-top: 3rem;
}

/* 
// -------------------------------
// Review
// ------------------------------- 
*/
.review {
  border-bottom: 0.0625rem solid #E8E8E8;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.reivew__size {
  display: inline;
  padding-right: 1rem;
  font-size: 1.0625rem;
  color: #0B5485;
}

.review__date {
  font-size: 0.8125rem;
  color: #73A2C2;
}

.reivew__body {
  padding-top: 1rem;
}

.body__title {
  font-size: 1.0625rem;
  line-height: 1.3125rem;
}

.body__sub {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.5rem 0;
}

/* 
// -------------------------------
// Review Scone: PROBABLY WONT NEED/NEW DESIGN MADE
// ------------------------------- 
*/
.scone {
  @media screen and (min-width: 40rem) {
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: $fonts;
    height: 100%;
    padding: 2rem 0;
  }
}

.image {
  // same styles as comment avatars
  min-width: 2.25rem;
  border-radius: 50%;
}

.scone__media {
  padding: 0.875rem 0.875rem 0 0;
}

.scone__title {
  font-size: 1.25rem;
  padding: 0 2rem 0.5rem 0;
  @media screen and (min-width: 40rem) {
    display: inline;
  }
}

.scone__body {
  font-size: 1.0625rem;
  line-height: 2rem;
  color: #343434;
}

.scone__icing {
  display: flex;
  flex: 1;
}

.scone__jam {
  padding: 0.875rem 0;
}

.scone__jam-name {
  font-size: 0.9375rem;
  font-weight: bold;
}

.scone__jam-date {
  font-size: 0.8125rem;
  color: #333333;
}

.scone__jam-size {
  display: inline;
  padding-right: 1rem;
  font-size: 1.0625rem;
  color: #73A2C2;
}

.scone__cream {
  padding: 0.875rem 0;
  flex: 2;
}

// -------------------------------
// Locked block: TIDY WHEN LAYOUT HAS BEEN CONFIRMED
// -------------------------------
.locked {
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width: 48rem) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
  }
}

.locked__section {
  width: 100%;
  
  @media screen and (min-width: 48rem) {
    width: 50%;
  }
}

.locked__section-a {
  order: 1;
  align-self: center;
  margin-bottom: 3rem;
  padding-right: 0;
  
  @media screen and (min-width: 48rem) {
    padding-right: 4rem;
  }
}

.locked__section-b {
  order: 2;
  padding-right: 0;
    
  @media screen and (min-width: 48rem) {
    order: 3;
    align-self: flex-start;
    padding-right: 4rem;
  }
}

.locked__section-c {
  order: 3;
  
  @media screen and (min-width: 48rem) {
    order: 2;
    width: 47%;
  }
}

.locked__section-d {
  order: 4;
}

.locked__quotes--version-2 {
  flex-direction: column;
  display: flex;
  padding-right: 0;
  padding-bottom: 2rem;
  
  @media screen and (min-width: 40rem) {
    flex-direction: row;
  }
}

.locked-quote__second {
  padding-left: 0;
  
  @media screen and (min-width: 40rem) {
    padding-left: 4rem;
  }
}

.locked__quote {
  position: relative;
  z-index: 1;
  font-family: Merriweather;	
  font-size: 1.125rem;	
  font-style: italic;	
  line-height: 1.4375rem;	
  text-align: center;
}

.locked__quote--version-2 {
  flex: 1;
}

.locked__author {
  font-family: $fonts;
  font-style: initial;
  font-size: 1rem;
  margin-top: 1rem;
}

.locked-icon {
  position: absolute;
  z-index: -1;
  right: 0;
  margin-top: -1.5rem;
  font-size: 3rem;
  color: #DCE6EB;
}

.locked__form {
  padding: 4rem 0 0 0;
  
  @media screen and (min-width: 48rem) {
    padding: 0 3rem;
    max-width: 100%;
  }
  
  label {
    font-size: 0.9375rem;
    font-weight: 300;
  }
}

.locked__form-sub-title {
  font-size: 1rem;
}

.locked__form--version-2 {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 4rem 0 0 0;
  
  @media screen and (min-width: 40rem) {
    max-width: 400px;
    padding-top: 4rem 0 0 0;
  }
}

.locked__form-title {
  text-align: center;
  padding-bottom: 1rem;
}

.locked__form-sub-title {
  font-size: 1rem;
}

.locked__form-check {
  font-size: 0.9375rem;
}

.locked-tcs {
  padding: 0 3rem;
}

.locked-tcs__tcs {
  margin-top: 1rem;
  font-size: 0.8125rem;
  font-style: italic;
  padding-left: 1rem;
}

.locked-tcs__btn {
  padding: 0 1rem;
  
  input {
   width: 100%; 
  }
}

.button--lockdown__icon-wrapper {
  position: relative;
}

// Finish
.button--lockdown__icon-wrapper:hover 
.button--lockdown__icon-absolute {
  color: #fff;
  transition: all 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
} 

.button--lockdown__icon-absolute {
  position: absolute;
  top: 1rem;
  left: 0.625rem;
  z-index: 1;
  color: #333;
}

.locked__su55t {
  text-indent: 2rem;
}

// -------------------------------
// Contact block
// -------------------------------

.product-contact {
  max-width:55%;
}

.product-contact__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-contact__info {
  margin-bottom: 2rem;
}
